body {
    font-family: Arial, sans-serif;
    background-color: #ffffff00;
    color: #000000b1;
    margin: 0;
    padding: 0;
    text-align: center;
    direction: rtl;
}

header {
    background-color: #0b0ba900;
    color: rgb(206, 154, 12);
    padding: 15px;
    text-align:center;
}
 header img {
    width: 160px;
    height: 50px;
    float: left;
    margin-left: 10px;
 }

.language-selector {
    text-align: right;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

button{
    background-color: #2e25d5;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc79;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(57, 57, 57, 0.438);
}

h1 {
    background-color: #a9505000;
    margin: 0;
}

h2 {
    background-color: #0ba91600;
    margin: 0;
    text-align: left;
    color: #000000;
}
p {
    font-size: 15px;
    background-color: rgba(0, 255, 255, 0);
}
h3 {
    font-size: bold;
    text-align: left;
    color: #000000
}

.carousel-title{
    position: absolute;
    top: -10px;
    left: 10%;
    transform: translate(-50%);
    font-size: 40px;
    color: #ffffff;
    padding: 0px;
    border-radius: 5px;
}

.carousel {
    position:relative ;
    width: 100%;
    max-width: 170px;
    margin:auto;
    display: flex;
    overflow: hidden;
    background: rgb(182 157 157);
    padding: 50px 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.slide {
    display: flex;
    text-align:left;
    justify-content:left;
    height: 100%;
}

.slide img {
    width: 200%;
    height: 100%;
    border-radius: 0px;
    transform: translateX(85px);
}

.caption {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    top: -50px;
    display: inline-block;

}

.button {
    display: inline-block;
    color: #ffffff;
    background-color: #2e25d5;
    padding: 10px  20px;
    text-decoration:none;
    border-radius: 5px;
    font-size: 16px;
}

/* تحسين العرض على الشاشات الصغيرة */
@media (max-width: 768px) {
    .carousel-item img {
        object-fit: contain; /* يحسن مظهر الصور في الهواتف */
    }
}
